{{> layout/header}}
<body>
{{> layout/navbar }}
<div class="container-fluid">
    <h1 class="pt-md-5 pb-md-5">Profile of {{myProfile.trainer.name}}</h1>
    <div class="card-deck">
        {{#myProfile.team}}
        {{> layout/pokemon}}
        {{/myProfile.team}}
    </div>
    <hr>
    <h1>All trainers</h1>
    {{#trainers}}
    <div class="col-lg-12">
        <h1>{{trainer.name}}</h1>
        <div class="card-deck">
            {{#team}}
            {{> layout/pokemon}}
            {{/team}}
        </div>
    </div>
    <hr>
    {{/trainers}}
</div>
</body>
